
h2 {
    margin: 1em 0 0.5rem 1.2em;
    padding-bottom: 0;
  }

h3 {
    transform: rotate(90deg);
      font-family: $oldstandard;
      font-size: 1.4rem;
      margin-left: 440px;
      font-weight: 700;
      margin-top: -90px;
  }