
//Colors
$smokyblack: #0C0910;
$granitygray: #646266;
$quicksilver: #A6A5A8;
$isabelline: #ECECEC;
$lightgray: #D1D1D1;
$white: #fff;


//Special Colors

$degradation: rgba(0, 0, 0, 0.6);

//Font Family
$raleway: 'Raleway', sans-serif;
$oldstandard: 'Old Standard TT', serif;

//Font Sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 25px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//Font style
$stylefont: italic;

//Font weigh
$regular: 400;
$bold: 700;
$superfont: 900;

